<br><br>
        <button class='btn btn-info' [routerLink]="['/login']">
          Logout
      </button>

<br><br>
<div class="container">
    <!-- <a routerLink=""><img class="barimg" src="{{backimg}}"></a> -->
    <h1>Join Reddit!<a routerLink=""><img class="barimg" src="{{backimg}}"></a></h1>
    
    <h3>Create your personal account</h3>
    <form class="form-group" [formGroup]='signupForm'>
      <div>
        <label for="email">Email<span class="ast"> *</span></label>
        <input class="form-control" type="email" placeholder="Enter email" name="email"
        formControlName="eMail"
    [ngClass]="{'is-invalid': displayMessage.eMail }" #mail>
    <div *ngIf="submitted && f.eMail.errors" class="invalid-feedback">
      <div *ngIf="f.eMail.errors.required">Title is required</div>
  </div>
        
      </div>
      <div>
          <label for="text">Username<span class="ast"> *</span></label>
          <input class="form-control" type="text" placeholder="Enter Username" name="n" #name>
        
        </div>

      <div>
        <label for="pwd">Password<span class="ast"> *</span></label>
        <input class="form-control" type="password" placeholder="Enter password" name="pswd" #pass>
        
      </div>
      
      
      <div>
        <label>
          <input type="checkbox" name="remember">Remember me
        </label>
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/topicList']" (click)="postItem(mail.value,name.value,pass.value)">Submit</button>
      <!-- <input type="submit" value="Submit" [disabled]="!form.valid"> -->
    </form>
  </div>
  
  <br><br>
 