.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 45px;
}
input{
    width: 25%;
    display: inline-block;
}
.container1{

    text-align: center;
/* 
    align-content: center;
    padding-left:  */
    /* margin-left: 50%;
    margin-right: 50%; */
}
.container{
    display: inline-block;
}
.hh1{
    font-weight: 100;
}
.ll1{
    font-weight: 600;
    display: inline-block;
    /* font-display: bold; */
}
.ll2{
    font-weight: 600;
    display: inline-block;
    /* font-display: bold; */
}
.btn{
    width: 25%;
    display: inline-block;
}
.nn{
    font-weight: 200;
}