.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 45px;
}
input{
    width: 25%;
}
.container1{

    margin-left: 42%;
}
.hh1{
    font-weight: 100;
}
.ll1{
    font-weight: 600;
    /* font-display: bold; */
}
.ll2{
    font-weight: 600;
    /* font-display: bold; */
}
.btn{
    width: 25%;
}
.nn{
    font-weight: 200;
}