<div class="container">
    <div >
        <h1>Ticket Id</h1>
        <button class="btn btn-primary" style="float: right; margin-right: 16px">
            Add Feedback
        </button>

        <button class="btn btn-primary" style="float: right; margin-right: 16px">
            Email Feedback
        </button>

    </div>
    <div >
        <table class="table">
            <thead>
                <tr>
                    <th>Feed ID</th>
                    <th>Respondent</th>
                    <th>Feedback</th>
                    <th>Edit</th>
                    <th>Del</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor='let data of customerList'>
                    <tr *ngFor='let d of data.topicFeedbacks'>
                            <td>{{ d.feedID }}</td>
                            <td>{{ d.respondent }}</td>
                            <td>{{d.feedback}}</td>
                            <td>
                                <button class='btn btn-info' 
                                [routerLink]="['/feedback', data.topicID, 'edit']">
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button class='btn btn-danger'>
                                    Delete
                                </button>
                            </td>
                            
                    </tr>
                </ng-container>

                    
                
            </tbody>
        </table>
    </div>
</div>